<div id="logo"> 
    <a href="JavaScript:void();">
        <img src="{{ asset('img/logo.png') }}" alt="Логотип" >
    </a> 
</div>
<div id="head-menu">
    {{ render(controller('AppBundle:Default:menu')) }}
</div>
<div id="nazvanie"> <h3>Кофейня Хауз - лучшее место для встречи! </h3></div>
<div id="picture"> <a><img src="{{ asset('img/coffee.jpg') }}" alt="Кофе" ></a> </div>