<ul>
    {#
    $menu_result = $pdo->query("SELECT * FROM  `page`");
    while ($menu_item = $menu_result->fetch(PDO::FETCH_ASSOC)) {
        ?>
        <li><a href="<?php echo $menu_item["url"] ?>"><?php echo $menu_item["name"] ?></a></li>
        <?php
    }
    #}

    {% for page in pages %}
        <li>
            <a href="{{ path('show_page', {url: page.url|slice(1)}) }}">
                {{ page.name }}
            </a>
        </li>
    {% else %}
        <li>
            <a href="/'">
                Главная
            </a>
        </li>
    {% endfor %}
</ul>